.notification {
  z-index: var(--layer-notifications);

  display: flex;

  border-radius: var(--radius-md);
}

.kindError {
  background: var(--color-error-300);
}

.kindInfo {
  background: var(--color-secondary-200);
}

.kindSuccess {
  background: var(--color-success-300);
}

.content {
  flex-grow: 1;

  padding: 4px 8px;

  color: var(--color-common-white);
}
